@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>    
    <br /><strong>Via call</strong><br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Via email</strong><br />
    Support:<a href="mailto:Support@example.com">Support@example.com</a><br />
    Marketing:<a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    </address>

<address>
    <strong>Address:</strong><br />
    6767 W O Ave,<br />
    Kalamazoo, MI 49009<br />
</address>