@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To the Beverage App</h1>
    <p class="lead">The Beverage application is a free website which allows you to view a list of beverages and more.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Powered by ASP.NET</a></p>
</div>

